ul{
    list-style-type:none;
}
li{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.completed{
    color: white;
}

#completed-list li{
    color: black;
    text-decoration: line-through;
}