ul{
    list-style-type:none;
}
#completed li, li{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#completed i{
    color: black;
}
.completed{
    color: white;
}

.outer{
    color: black;
    text-decoration: line-through;
}